# Books Mini Project

In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('book.csv',sep=';')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [4]:
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication     int64
Publisher              object
dtype: object

### Q1) Find out the frequency of books published each year. (Hint: Use 'book.csv' file for this)

In [5]:
a = books.groupby(by='Year-Of-Publication').groups

In [6]:
d = {k:len(v) for k,v in a.items()}

In [7]:
print('year', '\t', 'number_of_books')
for k,v in d.items():
    if k != 0:
        print(k , '\t' ,v)

year 	 number_of_books
1376 	 1
1378 	 1
1806 	 1
1897 	 1
1900 	 3
1901 	 7
1902 	 2
1904 	 1
1906 	 1
1908 	 1
1909 	 2
1910 	 1
1911 	 19
1914 	 1
1917 	 1
1919 	 1
1920 	 33
1921 	 2
1922 	 2
1923 	 11
1924 	 2
1925 	 2
1926 	 2
1927 	 2
1928 	 2
1929 	 7
1930 	 13
1931 	 3
1932 	 5
1933 	 3
1934 	 1
1935 	 3
1936 	 7
1937 	 5
1938 	 7
1939 	 9
1940 	 35
1941 	 10
1942 	 14
1943 	 8
1944 	 4
1945 	 8
1946 	 13
1947 	 14
1948 	 9
1949 	 11
1950 	 32
1951 	 40
1952 	 34
1953 	 63
1954 	 54
1955 	 70
1956 	 74
1957 	 76
1958 	 77
1959 	 103
1960 	 133
1961 	 132
1962 	 123
1963 	 132
1964 	 148
1965 	 173
1966 	 183
1967 	 175
1968 	 222
1969 	 332
1970 	 447
1971 	 526
1972 	 744
1973 	 887
1974 	 995
1975 	 1216
1976 	 1595
1977 	 1895
1978 	 2129
1979 	 2208
1980 	 2674
1981 	 3279
1982 	 4197
1983 	 4499
1984 	 4986
1985 	 5343
1986 	 5841
1987 	 6529
1988 	 7490
1989 	 7934
1990 	 8660
1991 	 9389
1992 	 9906
1993 	 10601
1994 	 11795
1995 	 13544
1996 	 14029
1997 	 14889
1998 	 15764
1999 	 17430
2000 	 17234
2001 	 17358
2002 	 17625
2003 	 14359
2004 	 5839
2005 	 46
2006 	 3
2008 	 1
2010 	 2
2011 	 2
2012 	 1
2020 	 3
2021 	 1
2024 	 1
2026 	 1
2030 	 7
2037 	 1
2038 	 1
2050 	 2

### Q2) Find out in which year maximum number of books were published

In [8]:
df1 = pd.DataFrame()

In [9]:
df1['year'] = d.keys()

In [10]:
df1['number_of_books'] = d.values()

In [11]:
# df1.sort_values(by= 'number_of_books', ascending=False).head(1)

In [12]:
df1[['year', 'number_of_books']][df1['number_of_books'] == max(df1['number_of_books'])]

    year  number_of_books
99  2002            17625

### Q3) Find out how many book were published based on ranking in the year 2002. ( Hint: Use Book.csv and BookRatings.csv)

In [13]:
book_ratings = pd.read_csv('book_rating.csv', sep=';')

In [14]:
combined_df = pd.merge(left=books, right = book_ratings)

In [15]:
combined_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
4,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,8,0

In [16]:
year_2002 = combined_df[['Book-Title', 'Book-Rating', 'Year-Of-Publication']][combined_df['Year-Of-Publication'] == 2002]

In [17]:
year_2002.head()

                                  Book-Title  Book-Rating  Year-Of-Publication
0                        Classical Mythology            0                 2002
14   Where You'll Find Me: And Other Stories            5                 2002
196                     Wie Barney es sieht.            7                 2002
227           Seabiscuit: An American Legend           10                 2002
228           Seabiscuit: An American Legend            0                 2002

In [18]:
c = year_2002.groupby(by='Book-Rating').groups

In [19]:
ans_dict = {k:len(v) for k,v in c.items()}

In [20]:
print(' YEAR 2002 ')
print('rating', '\t', 'number_of_books')
for k,v in ans_dict.items():
    print(k, '\t', v)

 YEAR 2002
rating 	 number_of_books
0 	 2218
1 	 17
2 	 19
3 	 40
4 	 58
5 	 178
6 	 225
7 	 423
8 	 533
9 	 350
10 	 370

In [28]:
books['Year-Of-Publication'].value_counts().loc[2002]

17625