# Movies Mini Project

>USE the 'movies.csv' dataset to answer the questions

***Module used :***

    - pandas 
    
***Variables reference :***
    
     - df : pandas dataframe for movies.csv

In [71]:
import pandas as pd

In [72]:
df = pd.read_csv('movie.csv')

In [73]:
df = df.drop(df[['Unnamed: 0']], axis = 1) ## deleting redundadnt columns

In [74]:
df

,movie_name,release_year,rating,duration
0,The Nightmare Before Christmas,1993,3.9,4568.0
1,The Mummy,1932,3.5,4388.0
2,Orphans of the Storm,1921,3.2,9062.0
3,The Object of Beauty,1991,2.8,6150.0
4,Night Tide,1963,2.8,5126.0
...,...,...,...,...
49585,Winter Wonderland,2013,2.8,1812.0
49586,Top Gear: Series 19: Africa Special,2013,NaN,6822.0
49587,Fireplace For Your Home: Crackling Fireplace w...,2010,NaN,3610.0
49588,Kate Plus Ei8ht,2010,2.7,NaN
49589,Kate Plus Ei8ht: Season 1,2010,2.7,NaN

In [75]:
df.dtypes

movie_name       object
release_year      int64
rating          float64
duration        float64
dtype: object

In [76]:
# checking number of null values in each column of dataframe
print("Number of NaN values in duration column : ",df.duration.isna().sum())
print("Number of NaN values in rating column : ",df.rating.isna().sum())
print("Number of NaN values in release_year column : ",df.release_year.isna().sum())
print("Number of NaN values in movie_name column : ",df.movie_name.isna().sum())

Number of NaN values in duration column :  3754
Number of NaN values in rating column :  38776
Number of NaN values in release_year column :  0
Number of NaN values in movie_name column :  0

# Questions

#### Q1) Number of movies released between 1950 and 1960

In [77]:
df['movie_name'][(df['release_year'] >= 1950) & (df['release_year'] <= 1960)].count()

547

#### Q2) The number of movies having rating more than 4.

In [78]:
df['movie_name'][df['rating'] > 4].count()

897

#### Q3) The movies whose rating are between 3 and 4.

In [79]:
df['movie_name'][(df['rating'] > 3) & (df['rating'] < 4)].count()

7161

#### Q4) The number of movies with duration more than 2 hours (7200 seconds).

In [80]:
df['movie_name'][df['duration'] > 7200].count()

641

#### Q5) The list of years and number of movies released each year.

In [81]:
a = df.groupby(by='release_year').groups

In [82]:
ans_list = []
for k,v in a.items():
    ans_list.append([k, len(v)])

In [83]:
ans_list

[[1913, 3],
 [1914, 20],
 [1915, 1],
 [1916, 1],
 [1918, 1],
 [1919, 3],
 [1920, 6],
 [1921, 2],
 [1922, 2],
 [1923, 4],
 [1924, 5],
 [1925, 5],
 [1926, 2],
 [1927, 4],
 [1928, 2],
 [1929, 5],
 [1930, 5],
 [1931, 3],
 [1932, 4],
 [1933, 7],
 [1934, 8],
 [1935, 11],
 [1936, 7],
 [1937, 4],
 [1938, 5],
 [1939, 6],
 [1940, 9],
 [1941, 7],
 [1942, 3],
 [1943, 7],
 [1944, 10],
 [1945, 9],
 [1946, 6],
 [1947, 9],
 [1948, 13],
 [1949, 9],
 [1950, 10],
 [1951, 33],
 [1952, 15],
 [1953, 17],
 [1954, 17],
 [1955, 14],
 [1956, 60],
 [1957, 98],
 [1958, 73],
 [1959, 87],
 [1960, 123],
 [1961, 119],
 [1962, 124],
 [1963, 88],
 [1964, 126],
 [1965, 104],
 [1966, 103],
 [1967, 279],
 [1968, 173],
 [1969, 124],
 [1970, 141],
 [1971, 131],
 [1972, 166],
 [1973, 168],
 [1974, 178],
 [1975, 134],
 [1976, 118],
 [1977, 136],
 [1978, 231],
 [1979, 140],
 [1980, 107],
 [1981, 112],
 [1982, 153],
 [1983, 270],
 [1984, 303],
 [1985, 334],
 [1986, 287],
 [1987, 280],
 [1988, 334],
 [1989, 421],
 [1990, 470],
 [1991, 364],
 [1992, 479],
 [1993, 564],
 [1994, 517],
 [1995, 592],
 [1996, 688],
 [1997, 788],
 [1998, 843],
 [1999, 1181],
 [2000, 902],
 [2001, 1173],
 [2002, 1117],
 [2003, 1399],
 [2004, 1381],
 [2005, 1937],
 [2006, 2416],
 [2007, 2892],
 [2008, 3358],
 [2009, 4451],
 [2010, 5107],
 [2011, 5511],
 [2012, 4339],
 [2013, 981],
 [2014, 1]]

#### Q6) Total number of movies in dataset .

In [84]:
total_movies = df['movie_name'].count()

In [85]:
total_movies

49590