In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('odb.csv')

In [5]:
df

,id,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,1,V Kohli (INDIA),2008-2021,254,245,39,12169,183,59.07,13061,93.17,43,62,13,1140,125
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
3,3,RG Sharma (INDIA),2007-2021,227,220,32,9205,264,48.96,10354,88.90,29,43,13,832,244
4,4,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,114,SK Raina (INDIA),2005-2018,226,194,35,5615,116*,35.31,6005,93.50,5,36,14,476,120
115,115,H Masakadza (ZIM),2001-2019,209,208,4,5658,178*,27.73,7728,73.21,5,34,15,585,86
116,116,RB Richardson (WI),1983-1996,224,217,30,6248,122,33.41,9801,63.74,5,44,8,541,54
117,117,BB McCullum (NZ),2002-2016,260,228,28,6083,166,30.41,6312,96.37,5,32,20,577,200
118,118,Saleem Malik (PAK),1982-1999,283,256,38,7170,102,32.88,9383,76.41,5,47,19,514,34

In [9]:
df.sort_values(by=['Runs'], ascending=False).head()

,id,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
8,8,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
4,4,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
15,15,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,1119,76

In [10]:
df.nlargest(10, 'Runs')

,id,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
8,8,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
4,4,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
15,15,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,1119,76
1,1,V Kohli (INDIA),2008-2021,254,245,39,12169,183,59.07,13061,93.17,43,62,13,1140,125
57,57,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144
21,21,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,911,137
9,9,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.70,22,72,16,1122,190
39,39,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15285,71.23,12,83,13,950,42

In [21]:
sr_gt_100 = df.query('SR  > 100')
sr_gt_100.sort_values(['SR'], ascending=False)

,id,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
99,99,SO Hetmyer (WI),2017-2021,47,44,3,1447,139,35.29,1360,106.39,5,4,2,111,52
40,40,JM Bairstow (ENG),2011-2021,89,81,8,3498,141*,47.91,3331,105.01,11,14,6,391,89
58,58,JJ Roy (ENG),2015-2021,98,93,2,3658,180,40.19,3410,107.27,9,20,9,428,73
106,106,DA Miller (SA),2010-2021,137,118,35,3367,139,40.56,3339,100.83,5,16,8,247,92
60,60,JC Buttler (ENG),2012-2021,148,123,23,3872,150,38.72,3263,118.66,9,20,13,323,125
6,6,AB de Villiers (Afr/SA),2005-2018,228,218,39,9577,176,53.50,9473,101.09,25,53,7,840,204
28,28,V Sehwag (Asia/ICC/INDIA),1999-2013,251,245,9,8273,219,35.05,7929,104.33,15,38,14,1132,136
96,96,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,369,27,8064,124,23.57,6892,117.00,6,39,30,730,351