# For Loop

In [3]:
# DOES NOT WORK
# i = 9
# for i:
#     print("a")

SyntaxError: invalid syntax (2301293264.py, line 2)

In [8]:
l = [10, 20, 30, 40, 50]

for element in l:
    print(f"{element + 5} " )

15
25
35
45
55

In [9]:
t = ("harshal", "ram", "laxman", "hanuman")

for element in t :
    print(element)

harshal
ram
laxman
hanuman

In [16]:
d = {"harshal":"human", "ram":"god", "laxman":"god", "sita":"goddess"}
print("Printing keys : ")
for i in d :
    print(i)
    
print("\n\nPrinting values : ")  
for i in d.values() :
    print(i)
    
print("\n\nPrinting keys , values : ")  
for i in d.items() :
    print(i)

Printing keys :
harshal
ram
laxman
sita


Printing values :
human
god
god
goddess


Printing keys , values :
('harshal', 'human')
('ram', 'god')
('laxman', 'god')
('sita', 'goddess')

In [1]:
# cumulative product for-else

l = [10, 20, 30, 40, 50]

product = 1
for i in l:
    product *= i
    print(product)

else:
    print("DONE")

10
200
6000
240000
12000000
DONE

In [2]:
# range function
# syntax : 
    # range (start (default = 0), stop, step-size)

In [20]:
for i in range (0, 11): # start = 0 , end = 10
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
print("Even numbers: ")
for i in range(0,11, 2): # step size = 2 
    print(i) #prints even

0
2
4
6
8
10

In [24]:
print("Odd numbers: ")
for i in range (1, 11, 2):
    print(i)

Odd numbers:
1
3
5
7
9

In [29]:
print("Reverse order: ")
for i in range(10, -1, -2): # +ve even numbers less than 10 in reverse order
    print(i)

Reverse order:
10
8
6
4
2
0

In [37]:
lst = [21,4,156,37,358,93,625,15,6,28,9,42322,3715]

even = []
odd = []
if len(lst) == 0:
    print("No data present in lst")

for i in lst:
    if(i%2 == 0):
        even.append(i)
    else:
        odd.append(i)

print(f"even: {even}\nodd: {odd}")

even: [4, 156, 358, 6, 28, 42322]
odd: [21, 37, 93, 625, 15, 9, 3715]

In [32]:
names = ["harshal", "abhishek", "aman", "satyam", "ravi", "iftaar"]

# separate names starting with vowels and consonants

starts_with_vowel = []
starts_with_consonant = []

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E','I','O','U']

for i in names:
    if i[0] in vowels:
        starts_with_vowel.append(i)
    else:
        starts_with_consonant.append(i)
        
print(f"names starting with vowels: {starts_with_vowel}\nnames starting with consonants: {starts_with_consonant}")

names starting with vowels: ['abhishek', 'aman', 'iftaar']
names starting with consonants: ['harshal', 'satyam', 'ravi']

# while loop

In [50]:
i = int(input("Enter a starting pos : "))
ans = []

while(i<=20):
    print(f"\n   \t\t\told ans[] = {ans}")
    ans.append(i)
    i += 1
    print(f"added {i-1} to 'ans[]'\tnew ans[] = {ans}")
    
else:
    print(f"\ni={i} is now no longer <20 ")

Enter a starting pos :  15

   			old ans[] = []
added 15 to 'ans[]'	new ans[] = [15]

   			old ans[] = [15]
added 16 to 'ans[]'	new ans[] = [15, 16]

   			old ans[] = [15, 16]
added 17 to 'ans[]'	new ans[] = [15, 16, 17]

   			old ans[] = [15, 16, 17]
added 18 to 'ans[]'	new ans[] = [15, 16, 17, 18]

   			old ans[] = [15, 16, 17, 18]
added 19 to 'ans[]'	new ans[] = [15, 16, 17, 18, 19]

   			old ans[] = [15, 16, 17, 18, 19]
added 20 to 'ans[]'	new ans[] = [15, 16, 17, 18, 19, 20]

i=21 is now no longer <20

In [24]:
#find if a number is a prime number using while loop

x = int(input("Enter a number: ")) #number to be checked
i = 2
isPrime = True
while i<x/2:
    if x%i == 0 :
        isPrime = False
        break
        
    i += 1    
        
if x == 1:
    print(f"{x} is neither prime nor composite")
else:
    if(isPrime):
        print(f"{x} is prime")
    else:
        print(f"{x} is composite")

Enter a number:  23

23 is prime