# Formatting

In [63]:
#int value, pass by reference

a = 10
b = 20
print("Given numbers are a: {} | b: {}".format(a,b))
print("Before swapping a: {0} | b: {1}".format(a,b)) #indexing 
print('"After swapping values.... a: {1} | b: {0}"'.format(a,b)) #indexing

Given numbers are a: 10 | b: 20
Before swapping a: 10 | b: 20
"After swapping values.... a: 20 | b: 10"

In [15]:
#string value , f-formatting

str1 = "harshal"
str2 = "parteke"

print(f"{str1}  {str2}")

harshal  parteke

In [18]:
my_love = "country"
love_name = "India"

print(f"I love my {my_love} --> {love_name}") #f-formatting
print("I live in a {} called {}".format(my_love, love_name))

I love my country --> India
I live in a country called India

In [23]:
l1 = ([123],[21415,13566])
l2 =( [124], [351,18659])
print(f"sum of {l1} and {l2} is {l1+l2}")

sum of ([123], [21415, 13566]) and ([124], [351, 18659]) is ([123], [21415, 13566], [124], [351, 18659])

# Taking Inputs from user

In [32]:
#taking input from user

num = int(input("Enter number: "))
str1 = input("Enter string: ")
comp = complex(input("Enter complex number: "))

print(f"num : {num}\nstring: {str1}\ncomplex number: {comp}")

Enter number:  674
Enter string:  harshal
Enter complex number:  8

num : 674
string: harshal
complex number: (8+0j)

In [52]:
#taking multiple inputs

res = input("Enter name: "),\
input("Enter pincode: "),\
input("Enter salary: ")

for i in enumerate(res):
    print(i)
    
print(type(res))

Enter name:  harshal
Enter pincode:  826004
Enter salary:  68000

(0, 'harshal')
(1, '826004')
(2, '68000')
<class 'tuple'>

--- --- 
# Operators

## Arithmetic Operators
- Addition ( + )
- sub ( - )
- mult ( * )
- div ( / )
- floor division ( // )
- mod ( % )
- exponential ( ** )

In [65]:
a  = 2
b = 4

print(f"a+b= {a+b}\na-b={a-b}a*b={a*b}\n{a/b}\na//b={a//b}\na%b={a%b}\na**b={a**b}")

a+b= 6
a-b=-2a*b=8
0.5
a//b=0
a%b=2
a**b=16

In [67]:
walking_distance = float(input("How many kms have you walked today? : "))
print(f"Oh!! That means you have walked {walking_distance*1000} metres")

How many kms have you walked today? :  2.89

Oh!! That means you have walked 2890.0 metres

## Comparison Operators
- < less than
- (>) greater than
- <= less than equal to
- (>=) greater than equal to
- == equal to
- != NOT equal to

In [1]:
a = 20
b = 35
print(f"a>b: {a>b}\na<b: {a<b}\na==b: {a==b}\na!=b: {a!=b}\na>=b: {a>=b}\na<=b: {a<=b}")

a>b: False
a<b: True
a==b: False
a!=b: True
a>=b: False
a<=b: True

In [2]:
a = "a"
b = "b"
print(f"a>b: {a>b}\na<b: {a<b}\na==b: {a==b}\na!=b: {a!=b}\na>=b: {a>=b}\na<=b: {a<=b}")

a>b: False
a<b: True
a==b: False
a!=b: True
a>=b: False
a<=b: True

In [7]:
a = "abple"
b = "aall"
print(f"a>b: {a>b}\na<b: {a<b}\na==b: {a==b}\na!=b: {a!=b}\na>=b: {a>=b}\na<=b: {a<=b}")

a>b: True
a<b: False
a==b: False
a!=b: True
a>=b: True
a<=b: False

In [8]:
#strings comparison occurs on basis of first element; if equal, then the next element id compared and so on..

---
Logical Operators

In [53]:
a = True
b = False

print(f"a= {a}, b= {b}")
print(f"a OR b = {a or b}")
print(f"a AND b =- {a and b}")
print(f"NOT a = {not a}")

a= True, b= False
a OR b = True
a AND b =- False
NOT a = False

---
## Identity Operator
- is

In [45]:
a = 4
b = 4
print(id(a), id(b))
print(a is b)
print(a is not b)

140069400209808 140069400209808
True
False

In [51]:
l1 = [1,2,3]
l2 = [1,2,3]

print(id(l1))
print(id(l2))
print(l1 is l2) # returns false since list is dynamic

140068897457472
140068897934272
False

In [54]:
t1 = (2,4,56)
t2 = (2,4,56)

print(id(t1))
print(id(t2))
print(t1 is t2)

140068897783744
140068898024512
False

In [55]:
d1 = {0:'nobita', 1:'shizuka', 2:'doraemon', 3:'suniyo', 4:'gian'}
d2 = {0:'nobita', 1:'shizuka', 2:'doraemon', 3:'suniyo', 4:'gian'}

print(id(d1))
print(id(d2))
print(d1 is d2)

140068897423616
140068897425728
False

---
## Membership Operator
- in

In [48]:
l1 = [12,4,25,76]
print( 4 in l1)

True

In [62]:
d1= {0:'a', 1:'b'}
print(0 in d1)
print('a' in d1) #only checks for 'keys' in a dictionary

print('a' in d1.values()) #can check in values of d1 using d1.values()
print(type(d1.keys()), type(d1.values()))

True
False
True
<class 'dict_keys'> <class 'dict_values'>

In [57]:
seasons = ('summer', 'monsoon', 'winter', 'autumn', 'spring')
print('summer' in seasons)

True