# List operations cont...

## Sorting

In [25]:
l = [1,9083,234,647,8,2]
l.sort()
l

[1, 2, 8, 234, 647, 9083]

In [29]:
a = ["harshal", 'abhishek', 'aman', 'satyam']
x = sorted(a)
print(x)
y = sorted(a, reverse=True)
print(y)

['abhishek', 'aman', 'harshal', 'satyam']
['satyam', 'harshal', 'aman', 'abhishek']

In [30]:
m = [1,9083,234,647,8,2]
x = sorted(m)
y = sorted(m, reverse=True)
print(x)
print(y)

[1, 2, 8, 234, 647, 9083]
[9083, 647, 234, 8, 2, 1]

In [31]:
# look at the sorted order of same int and float values
m = [1,23, 4.0,4,535,6.453,1.0,23.0]
x = sorted(m)
print(x)
y = sorted(m,reverse=True)
print(y)

[1, 1.0, 4.0, 4, 6.453, 23, 23.0, 535]
[535, 23, 23.0, 6.453, 4.0, 4, 1, 1.0]

## list copy

In [33]:
# overriding

lst = m.copy()
print(m)
print(lst)

[1, 23, 4.0, 4, 535, 6.453, 1.0, 23.0]
[1, 23, 4.0, 4, 535, 6.453, 1.0, 23.0]

## list split

In [29]:
a = "1-2-3-4-54-6-7-3"
lst = a.split("-")
print(lst)
print(type(a.split()))

lst = [int(i) for i in a.split("-")]
print(b)

['1', '2', '3', '4', '54', '6', '7', '3']
<class 'list'>
[1, 2, 3, 4, 54, 6, 7, 3]

In [36]:
string = "one two three four get on the dance floor"
stringToList = string.split(' ')
print(stringToList[:4])

['one', 'two', 'three', 'four']

## negative indices

In [30]:
# lst   = [ a0, a1, a2, a3, a4, a5]
# index : [ 0,  1,  2,  3,  4,  5]
# index : [-6, -5, -4, -3, -2, -1]

## list slicing with negative indices

In [33]:
lst   = [ 'a0', 'a1', 'a2', 'a3', 'a4', 'a5']

In [36]:
print(lst[::-1])
print(lst[:5])
print(lst[:-1:2]) # 0=start_index, -1=stop_index, 2=step_size

['a5', 'a4', 'a3', 'a2', 'a1', 'a0']
['a0', 'a1', 'a2', 'a3', 'a4']
['a0', 'a2', 'a4']

In [40]:
print(lst[2:-2:2])
print(lst[::2])

['a2']
['a0', 'a2', 'a4']

In [42]:
concat_lst = lst + [1,2,3,4,5]
print(concat_lst)

['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 1, 2, 3, 4, 5]

In [43]:
concat_lst.sort() ## note again str and int cannot be compared

TypeError: '<' not supported between instances of 'int' and 'str'

## list count

In [44]:
print(lst.count('a0'))
print(lst.count(1))

1
0

In [46]:
lst0 = [0,0,0,0,0,0]
print(lst0.count(0))

6

## list looping

In [48]:
lst = ['one', 'two', 'three', 'four','five']
for i in lst :
    print(i, " -> ", list(i))

one  ->  ['o', 'n', 'e']
two  ->  ['t', 'w', 'o']
three  ->  ['t', 'h', 'r', 'e', 'e']
four  ->  ['f', 'o', 'u', 'r']
five  ->  ['f', 'i', 'v', 'e']

In [50]:
power = [] 

for i in range(5,10):
    power.append(i**2)
    print(power)
print(power)

[25]
[25, 36]
[25, 36, 49]
[25, 36, 49, 64]
[25, 36, 49, 64, 81]
[25, 36, 49, 64, 81]

## list comprehension

In [52]:
lst = [i for i in range(23, 30) if i>= 25]
lst

[25, 26, 27, 28, 29]

In [53]:
powerlst = [i**2 for i in range (12, 20)]
print(powerlst)

[144, 169, 196, 225, 256, 289, 324, 361]

In [60]:
exprlst1 = [(i**2 + int(32/i)) for i in range(10,50) if i**2 == (i**2 + int(32/i))]
print(exprlst1)

[1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [59]:
exprlst2 = [(i**2 + int(32/i)) for i in range(10,50) if int(32/i) == 0]
print(exprlst2)

[1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [61]:
exprlst1 == exprlst2

True

In [1]:
tuplst = [(i,i**2,i**3) for i in range(100)]

for i in tuplst:
    print(i)

(0, 0, 0)
(1, 1, 1)
(2, 4, 8)
(3, 9, 27)
(4, 16, 64)
(5, 25, 125)
(6, 36, 216)
(7, 49, 343)
(8, 64, 512)
(9, 81, 729)
(10, 100, 1000)
(11, 121, 1331)
(12, 144, 1728)
(13, 169, 2197)
(14, 196, 2744)
(15, 225, 3375)
(16, 256, 4096)
(17, 289, 4913)
(18, 324, 5832)
(19, 361, 6859)
(20, 400, 8000)
(21, 441, 9261)
(22, 484, 10648)
(23, 529, 12167)
(24, 576, 13824)
(25, 625, 15625)
(26, 676, 17576)
(27, 729, 19683)
(28, 784, 21952)
(29, 841, 24389)
(30, 900, 27000)
(31, 961, 29791)
(32, 1024, 32768)
(33, 1089, 35937)
(34, 1156, 39304)
(35, 1225, 42875)
(36, 1296, 46656)
(37, 1369, 50653)
(38, 1444, 54872)
(39, 1521, 59319)
(40, 1600, 64000)
(41, 1681, 68921)
(42, 1764, 74088)
(43, 1849, 79507)
(44, 1936, 85184)
(45, 2025, 91125)
(46, 2116, 97336)
(47, 2209, 103823)
(48, 2304, 110592)
(49, 2401, 117649)
(50, 2500, 125000)
(51, 2601, 132651)
(52, 2704, 140608)
(53, 2809, 148877)
(54, 2916, 157464)
(55, 3025, 166375)
(56, 3136, 175616)
(57, 3249, 185193)
(58, 3364, 195112)
(59, 3481, 205379)
(60, 3600, 216000)
(61, 3721, 226981)
(62, 3844, 238328)
(63, 3969, 250047)
(64, 4096, 262144)
(65, 4225, 274625)
(66, 4356, 287496)
(67, 4489, 300763)
(68, 4624, 314432)
(69, 4761, 328509)
(70, 4900, 343000)
(71, 5041, 357911)
(72, 5184, 373248)
(73, 5329, 389017)
(74, 5476, 405224)
(75, 5625, 421875)
(76, 5776, 438976)
(77, 5929, 456533)
(78, 6084, 474552)
(79, 6241, 493039)
(80, 6400, 512000)
(81, 6561, 531441)
(82, 6724, 551368)
(83, 6889, 571787)
(84, 7056, 592704)
(85, 7225, 614125)
(86, 7396, 636056)
(87, 7569, 658503)
(88, 7744, 681472)
(89, 7921, 704969)
(90, 8100, 729000)
(91, 8281, 753571)
(92, 8464, 778688)
(93, 8649, 804357)
(94, 8836, 830584)
(95, 9025, 857375)
(96, 9216, 884736)
(97, 9409, 912673)
(98, 9604, 941192)
(99, 9801, 970299)

## matrices

In [8]:
matrix = [
    [1,2,34,53],
    [253,47,8,2],
    [23,72,11,41],
    [3,5,567,8]
]

In [27]:
transposed = []
for i in range(0,len(matrix)):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
        
print(lst) # last row of transposed
print(transposed)

[53, 2, 41, 8]
[[1, 253, 23, 3], [2, 47, 72, 5], [34, 8, 11, 567], [53, 2, 41, 8]]