# Tuples

In [26]:
t1 = (1, (2,3,8), ['hi', 9.34], 'harshal')

In [9]:
print(t1[1])
print(type(t1[1]))

(2, 3, 8)
<class 'tuple'>

In [10]:
print(t1[1][1])
print(type(t1[1][1]))

3
<class 'int'>

In [11]:
print(t1[2][1])

9.34

In [13]:
print(type(t1[2][1]))

<class 'float'>

In [14]:
 ## comma can be used to specify a single element in a tuple
    
t2 = ('hi')
print(type(t2))

<class 'str'>

In [15]:
t2 = ('hi',)
print(type(t2))

<class 'tuple'>

In [20]:
print(t1[(len(t1)-1)::-1]) #print list in reverse order

('harshal', ['hi', 9.34], (2, 3, 8), 1)

In [77]:
## tuple is immutable

try:
    t1[2] = 32542 #throws an error
except Exception as e:
    print(e)

'tuple' object does not support item assignment

In [27]:
# for i in range(len(t1)):
#     if type(i) == list:
#         for j in i:
#             if type(j) == str:
#                 j = 'bye'
print(t1)

t1[2][0] = 'bye'
print(t1)

(1, (2, 3, 8), ['hi', 9.34], 'harshal')
(1, (2, 3, 8), ['bye', 9.34], 'harshal')

In [78]:
try: 
    string = 'prwatech'
    string[2] = 'g' ##cannot change 
except Exception as e:
    print(e)

'str' object does not support item assignment

### concatenation of tuples

In [32]:
print(t1)
print(t2)
print(t1 + t2)

(1, (2, 3, 8), ['bye', 9.34], 'harshal')
('hi',)
(1, (2, 3, 8), ['bye', 9.34], 'harshal', 'hi')

### repeat the element in tuple using * operator

In [90]:

print(t2)
print(t2*5)

print(string)
print(string*5)

('hi',)
('hi', 'hi', 'hi', 'hi', 'hi')
prwatech
prwatechprwatechprwatechprwatechprwatech

## tuple deletion

In [94]:
# we can delete the elements in a tuple 
## but we cannot delete entire tuple
try:
    t3 = ('summer', 'monsoon', 'winter', 'spring', 'autumn')
    del t3[1]
except Exception as e:
    print('ERROR :', e)

ERROR : 'tuple' object doesn't support item deletion

In [95]:
try:
    del t3
except Exception as e:
    print('ERROR :',e)

In [96]:
try:
    print(t3)
except Exception as e:
    print('ERROR :',e)

ERROR : name 't3' is not defined

In [86]:
l = [34,35,6,632]
del l[:] ## it works for lists but not for tuple

In [89]:
l

[]

## tuple count

In [51]:
t4 = (1,1,1,1,1,1,14,4,4,4,4,47,8,8,9,9)
t4.count(9) # gives the frequency of element occuring in the tuple

2

In [97]:
t5 = ('one','one','one','two','four','one','one','four','four')
t5.count('one')

5

In [98]:
t5.count('hundred')

0

## tuple indexing

In [ ]:
## returns the index of the first occurence of an element

print(t4.index(9))
print(t4.index(1))

14
0

In [99]:
t5.index('one')

0

In [100]:
t5.index('four')

4

## tuple membership

In [57]:
# using in, not operators

print( 1 in t4)
print(23 not in t4)

True
True

In [101]:
print('six' in t5)
print('one' in t5)

False
True

## length of tuple

In [60]:
print(t4, "----length: ", len(t4))
print(t1, "----length: ", len(t1))

(1, 1, 1, 1, 1, 1, 14, 4, 4, 4, 4, 47, 8, 8, 9, 9) ----length:  16
(1, (2, 3, 8), ['bye', 9.34], 'harshal') ----length:  4

## tuple sort

In [102]:
print(sorted(t4))
print(sorted(t4,reverse=True))

print(sorted(t5))
print(sorted(t5, reverse=True))

[1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 8, 8, 9, 9, 14, 47]
[47, 14, 9, 9, 8, 8, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1]
['four', 'four', 'four', 'one', 'one', 'one', 'one', 'one', 'two']
['two', 'one', 'one', 'one', 'one', 'one', 'four', 'four', 'four']

## Some other functions

In [66]:
# check min and max

print("max: ", max(t4), "\nmin: ", min(t4))

max:  47
min:  1

In [103]:
print("max: ", max(t5), "\nmin: ", min(t5))

max:  two
min:  four

In [105]:
try:
    print(sum(t5))
except Exception as e:
    print("ERROR : ", e)

ERROR :  unsupported operand type(s) for +: 'int' and 'str'

In [67]:
# sum
print("sum(tuple): ", sum(t4))

sum(tuple):  117

# IMPORTING LIBRARIES

In [106]:
import statistics as st
import math

print("t4: ", t4)

t4:  (1, 1, 1, 1, 1, 1, 14, 4, 4, 4, 4, 47, 8, 8, 9, 9)

In [107]:
print("mean(t4): ", st.mean(t4))
print("median(t4): ", st.median(t4))
print("mode(t4): ", st.mode(t4))

mean(t4):  7.3125
median(t4):  4.0
mode(t4):  1

In [108]:
math.pi

3.141592653589793

In [109]:
math.cos(math.pi)

-1.0