# Sets

In [4]:
set1 = {1,2,3,3,4,5,6} #does not hold duplicate records

In [5]:
print(set1)
set_to_list = list(set1)
print(set_to_list[0:3])

{1, 2, 3, 4, 5, 6}
[1, 2, 3]

In [6]:
print(type(set1), type(set_to_list))

<class 'set'> <class 'list'>

## creating set from list

In [7]:
lst = ['one', 'nine', 'one', 'eight', 'nine', 'seven']

set2 = set(lst)
print(lst)
print(set2)

['one', 'nine', 'one', 'eight', 'nine', 'seven']
{'one', 'eight', 'nine', 'seven'}

## add a value to set

In [9]:
## add a single value
set2.add('three')
set2

{'eight', 'nine', 'one', 'seven', 'three'}

In [19]:
try:
    set2.add('two', 'ten') #cannot add two or more elements
except Exception as e:
    print("ERROR : ", e)

ERROR :  set.add() takes exactly one argument (2 given)

## Add multiple values

In [12]:
set2.update(['eleven', 'twelve','twenty'])
set2

{'eight', 'eleven', 'nine', 'one', 'seven', 'three', 'twelve', 'twenty'}

In [13]:
set2.update([101,102,103])
set2

{101,
 102,
 103,
 'eight',
 'eleven',
 'nine',
 'one',
 'seven',
 'three',
 'twelve',
 'twenty'}

In [14]:
set3 = set1
set3

{1, 2, 3, 4, 5, 6}

In [15]:
set3.update((4,56,6,2))
set3

{1, 2, 3, 4, 5, 6, 56}

In [16]:
set3.update(['thirty', 'forty'],(200,201,202))

In [17]:
set3

{1, 2, 200, 201, 202, 3, 4, 5, 56, 6, 'forty', 'thirty'}

## length of set

In [18]:
len(set3)

12

## Remove and discard

In [21]:
set3

{1, 2, 200, 201, 202, 3, 4, 5, 56, 6, 'forty', 'thirty'}

In [22]:
set3.discard('forty')
set3

{1, 2, 200, 201, 202, 3, 4, 5, 56, 6, 'thirty'}

In [23]:
set3.remove('thirty')
set3

{1, 2, 3, 4, 5, 6, 56, 200, 201, 202}

## pop operation

_deletes a random value from the set_

In [24]:
set3.pop()
set3

{2, 3, 4, 5, 6, 56, 200, 201, 202}

In [25]:
deleted_value = set3.pop()
print(deleted_value)
print(set3)

2
{3, 4, 5, 6, 200, 201, 202, 56}

## clear operation

_deletes all the data from the set_

In [28]:
try:
    set3.clear()
    print(set3)
except Exception as e:
    print("ERROR : ", e)

set()

In [30]:
print(set1, "\n", set2)

##observe how set1 is also deleted

set()
 {'one', 'three', 'twelve', 101, 102, 103, 'eight', 'twenty', 'seven', 'eleven', 'nine'}

In [34]:
set1.update([1,2,34,5,6,95, 101,102,103])

In [38]:
print(set1)

{1, 2, 34, 5, 6, 101, 102, 103, 95}

In [37]:
print(set2)

{'one', 'three', 'twelve', 101, 102, 103, 'eight', 'twenty', 'seven', 'eleven', 'nine'}

## Other operations

#### UNION

In [39]:
print(set1 | set2) ##UNION function

{'one', 1, 2, 'three', 5, 6, 'twelve', 'twenty', 'nine', 95, 34, 101, 102, 103, 'eight', 'seven', 'eleven'}

In [40]:
print(set1.union(set2))

{'one', 1, 2, 'three', 5, 6, 'twelve', 'twenty', 'nine', 95, 34, 101, 102, 103, 'eight', 'seven', 'eleven'}

#### INTERSECTION
___set1 & set2 gives values that are in set1 and set2 both___

In [41]:
print(set1 & set2)

{101, 102, 103}

In [42]:
print(set1.intersection(set2))

{101, 102, 103}

#### DIFFERENCE

___set1 - set2 gives values that are present in set1 but not in set2___

In [43]:
print(set1 - set2)

{1, 2, 34, 5, 6, 95}

In [44]:
print(set1.difference(set2))

{1, 2, 34, 5, 6, 95}

#### SYMMETRIC DIFFERENCE

___gives values that are not common in both sets___

In [45]:
print(set1 ^ set2)

{'one', 1, 2, 34, 'three', 'twelve', 5, 6, 'eight', 'twenty', 'seven', 'eleven', 'nine', 95}

In [46]:
print(set1.symmetric_difference(set2))

{'one', 1, 2, 34, 'three', 'twelve', 5, 6, 'eight', 'twenty', 'seven', 'eleven', 'nine', 95}

## Subset and superset

In [47]:
set4 = set([i for i in range(20)])
set5 = set([i for i in range(10)])

In [48]:
print(set4)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
print(set5.issubset(set4)) ## is set4 a subset of set5?

True

In [53]:
print(set4.issuperset(set5)) # is set4 a superset of set5?

True

## Frozen sets
_cannot add any values_

In [54]:
set6 = frozenset([i for i in range(5)])
set6

frozenset({0, 1, 2, 3, 4})

In [58]:
try:
    set6.update([8,9,10])
except Exception as e:
    print("ERROR : ", e)

ERROR :  'frozenset' object has no attribute 'update'