# String

In [32]:
string = 'hello'

In [33]:
print(string[3:])

lo

In [34]:
big_string = """Thomas Stanley Holland (born 1 June 1996) is an English actor. His accolades include a British Academy Film Award, three Saturn Awards, a Guinness World Record and an appearance on the Forbes 30 Under 30 Europe list. Some publications have called him one of the most popular actors of his generation.[a]

Holland's career began at age nine when he enrolled in a dancing class, where a choreographer noticed him and arranged for him to audition for a role in Billy Elliot the Musical at London's Victoria Palace Theatre. After two years of training, he secured a supporting part in 2008 and was upgraded to the title role that year, which he played until 2010. Holland made his film debut in the disaster drama The Impossible (2012) as a teenage tourist trapped in a tsunami, for which he received a London Film Critics Circle Award for Young British Performer of the Year. After this, Holland decided to pursue acting as a full-time career, appearing in How I Live Now (2013) and playing historical figures in the film In the Heart of the Sea (2015) and the miniseries Wolf Hall (2015).

Holland achieved international recognition playing Spider-Man in six Marvel Cinematic Universe (MCU) superhero films, beginning with Captain America: Civil War (2016). The following year, Holland received the BAFTA Rising Star Award and later became the youngest actor to play a title role in an MCU film in Spider-Man: Homecoming. The sequels Far From Home (2019) and No Way Home (2021) each grossed more than $1 billion worldwide, and the latter became the highest-grossing film of the year. During this period, Holland gained recognition for playing darker roles in the crime dramas The Devil All the Time (2020) and Cherry (2021). Holland has additionally directed the short film Tweet (2015) and voiced roles in computer-animated features, including Onward (2020)."""

In [35]:
print(big_string[34:98])

e 1996) is an English actor. His accolades include a British Aca

In [36]:
print(big_string[len(big_string)-200:-len(big_string):-1])

t ni selor rekrad gniyalp rof noitingocer deniag dnalloH ,doirep siht gniruD .raey eht fo mlif gnissorg-tsehgih eht emaceb rettal eht dna ,ediwdlrow noillib 1$ naht erom dessorg hcae )1202( emoH yaW oN dna )9102( emoH morF raF sleuqes ehT .gnimocemoH :naM-redipS ni mlif UCM na ni elor eltit a yalp ot rotca tsegnuoy eht emaceb retal dna drawA ratS gnisiR ATFAB eht deviecer dnalloH ,raey gniwollof ehT .)6102( raW liviC :aciremA niatpaC htiw gninnigeb ,smlif orehrepus )UCM( esrevinU citameniC levraM xis ni naM-redipS gniyalp noitingocer lanoitanretni deveihca dnalloH

.)5102( llaH floW seiresinim eht dna )5102( aeS eht fo traeH eht nI mlif eht ni serugif lacirotsih gniyalp dna )3102( woN eviL I woH ni gniraeppa ,reerac emit-lluf a sa gnitca eusrup ot dediced dnalloH ,siht retfA .raeY eht fo remrofreP hsitirB gnuoY rof drawA elcriC scitirC mliF nodnoL a deviecer eh hcihw rof ,imanust a ni deppart tsiruot eganeet a sa )2102( elbissopmI ehT amard retsasid eht ni tubed mlif sih edam dnalloH .0102 litnu deyalp eh hcihw ,raey taht elor eltit eht ot dedargpu saw dna 8002 ni trap gnitroppus a deruces eh ,gniniart fo sraey owt retfA .ertaehT ecalaP airotciV s'nodnoL ta lacisuM eht toillE ylliB ni elor a rof noitidua ot mih rof degnarra dna mih deciton rehpargoerohc a erehw ,ssalc gnicnad a ni dellorne eh nehw enin ega ta nageb reerac s'dnalloH

]a[.noitareneg sih fo srotca ralupop tsom eht fo eno mih dellac evah snoitacilbup emoS .tsil eporuE 03 rednU 03 sebroF eht no ecnaraeppa na dna droceR dlroW ssenniuG a ,sdrawA nrutaS eerht ,drawA mliF ymedacA hsitirB a edulcni sedalocca siH .rotca hsilgnE na si )6991 enuJ 1 nrob( dnalloH yelnatS samoh

In [37]:
try:
    string[0] = 'k'
    
except Exception as e:
    print("ERROR : ", e)

ERROR :  'str' object does not support item assignment

In [38]:
# cannot delete value but can delete entire string
del string

try:
    print(string)
except Exception as e:
    print("ERROR : ", e)

ERROR :  name 'string' is not defined

## String Operations

### Concatenation

In [39]:
first_name = 'harshal'
mid_name = 'pramod'
last_name = 'parteke'

full_name = first_name + " " + mid_name+ " "+ last_name
print(full_name)

harshal pramod parteke

In [40]:
print("first name printed twice : ", first_name*2)

first name printed twice :  harshalharshal

In [41]:
print(len(first_name)- len(last_name))

0

### iteration thruogh string

In [42]:
for i in first_name:
    print(i)

h
a
r
s
h
a
l

In [43]:
## count number of occurences of a letter , say 'a' in full_name

a_count = 0
for i in full_name:
    if i == 'a':
        a_count+=1
print("{} occurences of letter a in '{}'".format(a_count, full_name))

4 occurences of letter a in 'harshal pramod parteke'

### String membership test

In [44]:
print('ars' in first_name)

True

In [45]:
print('ek' in last_name)

True

In [46]:
print('l' in last_name)

False

### String methods

In [47]:
print(first_name.upper()) ## to uppercase

HARSHAL

In [48]:
print('AMArKantak'.lower()) ## to lowercase

amarkantak

In [49]:
print('AMArKantak'.swapcase()) ##swap cases

amaRkANTAK

In [50]:
## split
txt = 'summer,monsoon,winter,spring,autumn'

txt_list = txt.split(',')
txt_list

['summer', 'monsoon', 'winter', 'spring', 'autumn']

In [51]:
seasons = '---->'.join(txt_list)
print(seasons)

summer---->monsoon---->winter---->spring---->autumn

In [52]:
## find -> returns index value
seasons.find('mon')

11

In [53]:
## replace

seasons.replace('monsoon','barsaat') ## does not change the original string but rpoduces a copy

'summer---->barsaat---->winter---->spring---->autumn'

In [54]:
a = seasons.replace('summer', 'dhoooooooooooooopppppp')

In [55]:
a

'dhoooooooooooooopppppp---->monsoon---->winter---->spring---->autumn'

In [56]:
## sort this string alphabetically

string2 = 'sort this sentence alphabetically'
list_str = string2.split()
print(" ".join(sorted(list_str)))

alphabetically sentence sort this

In [57]:
names = "abhishek aman raghav satyam zara phoenix"
names_list = names.split()

print(" ".join(sorted(names_list)))

abhishek aman phoenix raghav satyam zara

# FUNCTIONS

In [58]:
def show_name(name):
    """
    This function shows the name 
    """
    print(f"HI {name}. " + str(name) + ' is a student')
    
show_name('Naman')

HI Naman. Naman is a student

In [59]:
def get_sum(l):
    """Returns sum of all elements in a list"""
    
    sum = 0
    for i in l:
        sum += i
        
    return sum

print(get_sum([1,2,3,4,5,90]))

105

In [60]:
print(get_sum.__doc__) ## returns DOCSTRING

Returns sum of all elements in a list

- Global variable : can be accessed from anywhere
- Local variable : variable whose id is defined inside a function

In [62]:
global_var = 'global'

def local_fun():
    local_var  = 'local'
    return local_var


print(global_var, 'is being called....')

try:
    print(local_var)
except Exception as e:
    print('ERROR : ', e)

global is being called....
ERROR :  name 'local_var' is not defined

a = local_fun()

In [65]:
print(local_fun())

local

In [77]:
## hcf of two numbers


def computeHCF(a,b):
    
    if a<b:
        smaller = a
    else:
        smaller = b
    
    for i in range(1, smaller+1):
        if a%i == 0 and b%i == 0:
            hcf = i
    return hcf

In [87]:
computeHCF(5050,500)

50

In [91]:
## find if a name starts with a vowel or consonant

vowels = ['a', 'e', 'i', 'o', 'u']

def startsWithVowel(string):
    if string[0].lower() in vowels:
        return True
    return False

name = 'Uaharshal'
if startsWithVowel(name):
    print(f"{name} starts with a vowel")
else:
    print(f"{name} starts with a consonant")

Uaharshal starts with a vowel