In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
l = []
type(l)

list

In [5]:
t1 = (234,34,"sudh" , 3.45,True)

In [6]:
l1 = [234,34,"sudh" , 3.45,True]

In [7]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [8]:
t1[::-1]

(True, 3.45, 'sudh', 34, 234)

In [9]:
t1[-1]

True

In [10]:
l1[0] = "kumar"

In [11]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [12]:
t1

(234, 34, 'sudh', 3.45, True)

In [13]:
t1[0] = "dsdfdf"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t2 = (234,54,565)

In [ ]:
t1+t2

(234, 34, 'sudh', 3.45, True, 234, 54, 565)

In [ ]:
t1*4

(234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True)

In [ ]:
t1

(234, 34, 'sudh', 3.45, True)

In [ ]:
34 in t1

True

In [ ]:
"fdsfds" in t1

False

In [ ]:
t1

(234, 34, 'sudh', 3.45, True)

In [ ]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
t3 = (23,343,45,454,54)

In [ ]:
max(t3)

454

In [ ]:
t4 = ("fsdf","Fsdf","fsd")

In [ ]:
max(t4)

'fsdf'

In [ ]:
t1 =(234, 34, 'sudh', 3.45,34,34,34, True)

In [ ]:
t1.index(34)

1

In [ ]:
t1.count(34)

4

In [ ]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [ ]:
l1.index(6)

ValueError: 6 is not in list

In [14]:
t1

(234, 34, 'sudh', 3.45, True)

In [15]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
t3

(23, 343, 45, 454, 54)

In [ ]:
min(t3)

23

In [ ]:
min(t4)

'Fsdf'

In [ ]:
t

()

In [16]:
t1

(234, 34, 'sudh', 3.45, True)

In [19]:
t5 =(90,)

In [20]:
t1+t5

(234, 34, 'sudh', 3.45, True, 90)

In [21]:
t6= 56

In [25]:
l5 = list(t1)
l5

[234, 34, 'sudh', 3.45, True]

In [23]:
l5.insert(3,t6)

In [24]:
l5

[234, 34, 'sudh', 56, 3.45, True]

In [26]:
tuple(l5)

(234, 34, 'sudh', 3.45, True)

In [27]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [29]:
t[6][1:4]

[4, 5, 6, 7, 7]

In [ ]:
t[1][0]

'sdfsd'

In [ ]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [ ]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfsd
454

In [ ]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [ ]:
t2

(234, 54, 565)

In [ ]:
if len(t1) == len(t2):
    print("its same ")
else :
    print("not same ")

not same

In [ ]:
t = (234, 34, 'sudh', 3.45, 34, 34, 34, True , "kumar")

In [ ]:
i = input("take a user input")

if i in t :
    print("yet s your name is available ")
else :
    print("your name is not available ")

take a user input34
your name is not available

In [ ]:
t

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 'kumar')

In [ ]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [ ]:
t1  = (34)

In [ ]:
del(t)

In [ ]:
t

NameError: name 't' is not defined

In [ ]:
del(l1)

In [ ]:
l1

NameError: name 'l1' is not defined

In [ ]:
l = [324,343,343,34]

In [ ]:
t2

(234, 54, 565)

In [ ]:
x = set()

In [ ]:
type(x)

set

In [ ]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545 , [3,45,6]]

In [ ]:
s = set(l)

TypeError: unhashable type: 'list'

In [ ]:
s

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [ ]:
for i in s :
    print(i)

34
67
45
78
Sudh
kumar
56
sudh

In [ ]:
34 in s

True

In [ ]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s = set()
s

set()

In [ ]:
s.add(45)

In [ ]:
s

{45}

In [ ]:
s.add("sudh")

In [ ]:
s.add("fsdfsfs")

In [ ]:
s.add([2344455,454])

TypeError: unhashable type: 'list'

In [ ]:
s

{45, 'fsdfsfs', 'sudh'}

In [ ]:
s.add(45)

In [ ]:
s

{45, 'fsdfsfs', 'sudh'}

In [ ]:
s

{45, 'fsdfsfs', 'sudh'}

In [ ]:
s.remove(45)

KeyError: 45

In [ ]:
s

{'fsdfsfs', 'sudh'}

In [ ]:
45 in s

False

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
s

set()

In [ ]:
s

set()

In [ ]:
s.add("sdfsd")

In [ ]:
s.add(234)

In [ ]:
s.add(345)

In [ ]:
s.add("wer")

In [ ]:
s

{234, 345, 'sdfsd', 'wer'}

In [ ]:
s1 = set(l)

In [ ]:
l = [345,5464566,54645,6546,4654,654,6]

In [ ]:
s1

{6, 345, 654, 4654, 6546, 54645, 5464566}

In [ ]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
s

{234, 345, 'sdfsd', 'wer'}

In [ ]:
l4 = list(s)

In [ ]:
l4.append(345)

####

In [ ]:
l4

['sdfsd', 345, 234, 'wer', 454, 345]

In [ ]:
 t4 = tuple(s)

In [ ]:
set(t4)

{234, 345, 'sdfsd', 'wer'}

In [ ]:
s

{234, 345, 'sdfsd', 'wer'}

In [ ]:
s[0] = "fsdfs"

TypeError: 'set' object does not support item assignment

In [ ]:
x = {}

In [ ]:
type(x)

dict

In [ ]:
x1 = {34,56}

In [ ]:
type(x1)

set

In [ ]:
x = {"name " :"sudh"  , "age": 3455}

In [ ]:
type(x)

dict

In [ ]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [ ]:
x1

{'name ': 'sudh',
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [ ]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [ ]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [ ]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [ ]:
l = [34,45,4,54]
l[2]

4

In [ ]:
x2["key"]

False

In [ ]:
x2[34554]

(45, 45, 45, 45)

In [ ]:
x2["_sfsdf"][3]

54

In [ ]:
x2["name "]['k4'][2]

534

In [ ]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [ ]:
x4 = {"k4" :"Fsdfs"}

In [ ]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [ ]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [ ]:
x3['k4'] = 456

In [ ]:
x3

{5: 'wer', 'k4': 456}

In [ ]:
x3['k4'] -= 10

In [ ]:
x3['k4'] = x3['k4'] -10

In [ ]:
x3

{5: 'wer', 'k4': 446}

In [ ]:
'k4' in x3.keys()

True

In [ ]:
x3.keys()

dict_keys([5, 'k4'])

In [ ]:
for i in x3.keys() :
    print(x3[i])

wer
446

In [ ]:
x3

{5: 'wer', 'k4': 446}

In [ ]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [ ]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [ ]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [ ]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {54, 34545, 45, 454}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [ ]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{54, 34545, 45, 454}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [ ]:
x5 = {(34,56,56) : "Fsdfsfsd"}

In [ ]:
x5[(34,56,56) ]

'Fsdfsfsd'

In [ ]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [ ]:
len(x2)

6

In [ ]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [ ]:
list(e[56])[0]

89

In [ ]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

In [ ]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:dfsafs fds adfas fsdfas dfasfd asdfdsfsa sfa

In [ ]:
s1

{'adfas', 'asdfdsfsa', 'dfasfd', 'dfsafs', 'fds', 'fsdfas', 'sfa'}

In [ ]:
dic1

{'sfa': 'db',
 'dfsafs': 'db',
 'adfas': 'db',
 'dfasfd': 'db',
 'fsdfas': 'db',
 'asdfdsfsa': 'db',
 'fds': 'db'}

In [ ]:
t1

('sfa', 'dfsafs', 'adfas', 'dfasfd', 'fsdfas', 'asdfdsfsa', 'fds')

In [ ]:
l2

['db', 'db', 'db', 'db', 'db', 'db', 'db']

In [ ]:
d = {"company":"ineuron" ,"course": "full stack data science" , "year" : 2021}

In [ ]:
for i in d :
    print(" print a key  : " ,i  , " ; ", "value wise :  " , d[i])

 print a key  :  company  ;  value wise :   ineuron
 print a key  :  course  ;  value wise :   full stack data science
 print a key  :  year  ;  value wise :   2021

In [ ]:
"course" in d

True

In [ ]:
for i in d :
    if i == 'year':
        if d[i] > 2021:
            print("year is fine ")
        else :
            d[i] = 2022

year is fine

In [ ]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [ ]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i

In [ ]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}