In [3]:
import requests
import pandas as pd

In [4]:
import numpy as np

In [5]:
res = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [6]:
res

In [7]:
js = res.json()

In [8]:
js # data set is available in the form of list

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/47983',
  'id': 1330040995,
  'node_id': 'I_kwDOAA0YD85PRtCj',
  'number': 47983,
  'title': 'BUG: Dataframe.to_xml() fails with control characters',
  'user': {'login': 'CarlosHartmann',
   'id': 65766894,
   'node_id': 'MDQ6VXNlcjY1NzY2ODk0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/65766894?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/CarlosHartmann',
   'html_url': 'https://github.com/CarlosHartmann',
   'followers_url': 'https://api.github.com/users/CarlosHartmann/followers',
   'following_url': 'https://api.github.com/users/CarlosHartmann/following{/other_user}',
   'gists_url': 'https://api.github.com/users/CarlosHartmann/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/CarlosHartmann/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/CarlosHartmann/subscriptions',
   'organizations_url': 'https://api.github.com/users/CarlosHartmann/orgs',
   'repos_url': 'https://api.github.com/users/CarlosHartmann/repos',
   'events_url': 'https://api.github.com/users/CarlosHartmann/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/CarlosHartmann/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-08-05T14:53:13Z',
  'updated_at': '2022-08-05T14:59:08Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [X] I have confirmed this bug exists on the main branch of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ncsv_content = b\'\'\'FOO,BAR,BYTES\\nfoo,bar,"Next byte is a control char \\x13"\\n\'\'\'\r\n\r\nwith open(\'file.csv\', \'wb\') as outfile:\r\n    outfile.write(csv_content)\r\n\r\ndf = pd.read_csv(\'file.csv\', sep=\',\')\r\n\r\ndf.to_xml(\'file.xml\')\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\nThe process fails without writing anything into an XML file and without giving any information about the positiong or which char/byte caused the failure.\r\n\r\n\r\n\r\nThis is the error message:\r\n\r\n```\r\nFile "/opt/miniconda3/envs/pylaia/lib/python3.7/site-packages/pandas/core/frame.py", line 2986, in to_xml\r\n    return xml_formatter.write_output()\r\n  File "/opt/miniconda3/envs/pylaia/lib/python3.7/site-packages/pandas/io/formats/xml.py", line 265, in write_output\r\n    xml_doc = self.build_tree()\r\n  File "/opt/miniconda3/envs/pylaia/lib/python3.7/site-packages/pandas/io/formats/xml.py", line 485, in build_tree\r\n    self.build_elems()\r\n  File "/opt/miniconda3/envs/pylaia/lib/python3.7/site-packages/pandas/io/formats/xml.py", line 575, in build_elems\r\n    SubElement(self.elem_row, elem_name).text = val\r\n  File "src/lxml/etree.pyx", line 1024, in lxml.etree._Element.text.__set__\r\n  File "src/lxml/apihelpers.pxi", line 747, in lxml.etree._setNodeText\r\n  File "src/lxml/apihelpers.pxi", line 735, in lxml.etree._createTextNode\r\n  File "src/lxml/apihelpers.pxi", line 1540, in lxml.etree._utf8\r\nValueError: All strings must be XML compatible: Unicode or ASCII, no NULL bytes or control characters\r\n```\r\n\r\n### Expected Behavior\r\n\r\nPlease forgive if my assumption is wrong or Pandas is not the right place to report this, I\'m fairly new to Pandas.\r\n\r\nI would expect either of those behaviors:\r\n\r\n1. Delete the control characters without feedback to the user. Or maybe have delete_non-utf8 as an option for to_xml.\r\n2. Replace them with an HTML entity, like `&#019;` for the character above that causes the failure.\r\n3. Fail but indicate which character caused the issue and perhaps also its position.\r\n\r\nAgain I\'m fairly new. I thought 1. was going to happen because I am fairly sure that in the data I was handling there was ANSI content in an otherwise UTF-8-encoded file. Somehow, Pandas handled it without issue. That\'s why I thought Pandas would be robust to any such issues.\r\n\r\nIf my assumption is wrong and the current behavior is preferred over 1, I would like to suggest Nr. 3 as it would have made work slightly easier with a large amount of data in my dataframe.\r\n\r\n### Installed Versions\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d\r\npython           : 3.7.10.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 5.4.0-84-generic\r\nVersion          : #94-Ubuntu SMP Thu Aug 26 20:27:37 UTC 2021\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 1.3.5\r\nnumpy            : 1.20.2\r\npytz             : 2022.1\r\ndateutil         : 2.8.1\r\npip              : 21.1.2\r\nsetuptools       : 52.0.0.post20210125\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : 4.6.1\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : None\r\nIPython          : None\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfsspec           : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nmatplotlib       : 3.4.2\r\nnumexpr          : 2.8.3\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.7.0\r\nsqlalchemy       : None\r\ntables           : 3.7.0\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nnumba            : None\r\n\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47983/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/47982',
  'id': 1329981412,
  'node_id': 'I_kwDOAA0YD85PRefk',
  'number': 47982,
  'title': 'ENH: support pd.NA in "category" dtype',
  'user': {'login': 'devmcp',
   'id': 48351339,
   'node_id': 'MDQ6VXNlcjQ4MzUxMzM5',
   'avatar_url': 'https://avatars.githubusercontent.com/u/48351339?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/devmcp',
   'html_url': 'https://github.com/devmcp',
   'followers_url': 'https://api.github.com/users/devmcp/followers',
   'following_url': 'https://api.github.com/users/devmcp/following{/other_user}',
   'gists_url': 'https://api.github.com/users/devmcp/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/devmcp/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/devmcp/subscriptions',
   'organizations_url': 'https://api.github.com/users/devmcp/orgs',
   'repos_url': 'https://api.github.com/users/devmcp/repos',
   'events_url': 'https://api.github.com/users/devmcp/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/devmcp/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-08-05T14:02:11Z',
  'updated_at': '2022-08-05T14:15:05Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Feature Type\n\n- [x] Adding new functionality to pandas\n\n- [ ] Changing existing functionality in pandas\n\n- [ ] Removing existing functionality in pandas\n\n\n### Problem Description\n\nI would like to be able to use `pd.NA` for missing data in a column of dtype "category"\r\n\r\nCurrently this:\r\n\r\n```\r\npd.DataFrame({"A": ["one", "two", pd.NA]}).astype("category")\r\n```\r\n\r\nconverts the `pd.NA` to `np.NaN`.\n\n### Feature Description\n\nI think there should be a "category" dtype that supports `pd.NA`.\n\n### Alternative Solutions\n\nI don\'t think there is a current workaround\n\n### Additional Context\n\n_No response_',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47982/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/47981',
  'id': 1329973079,
  'node_id': 'PR_kwDOAA0YD848uF8z',
  'number': 47981,
  'title': 'TST: GH39984 Addition to tests',
  'user': {'login': 'BarkotBeyene',
   'id': 38720673,
   'node_id': 'MDQ6VXNlcjM4NzIwNjcz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/38720673?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/BarkotBeyene',
   'html_url': 'https://github.com/BarkotBeyene',
   'followers_url': 'https://api.github.com/users/BarkotBeyene/followers',
   'following_url': 'https://api.github.com/users/BarkotBeyene/following{/other_user}',
   'gists_url': 'https://api.github.com/users/BarkotBeyene/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/BarkotBeyene/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/BarkotBeyene/subscriptions',
   'organizations_url': 'https://api.github.com/users/BarkotBeyene/orgs',
   'repos_url': 'https://api.github.com/users/BarkotBeyene/repos',
   'events_url': 'https://api.github.com/users/BarkotBeyene/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/BarkotBeyene/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-08-05T13:55:10Z',
  'updated_at': '2022-08-05T14:12:43Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/47981',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/47981',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/47981.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/47981.patch',
   'merged_at': None},
  'body': '- [x] closes #GH39984 (Replace xxxx with the Github issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47981/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/47979',
  'id': 1329921675,
  'node_id': 'PR_kwDOAA0YD848t6vO',
  'number': 47979,
  'title': 'DEPS: Update cython',
  'user': {'login': 'phofl',
   'id': 61934744,
   'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/phofl',
   'html_url': 'https://github.com/phofl',
   'followers_url': 'https://api.github.com/users/phofl/followers',
   'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
   'organizations_url': 'https://api.github.com/users/phofl/orgs',
   'repos_url': 'https://api.github.com/users/phofl/repos',
   'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/phofl/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-08-05T13:10:09Z',
  'updated_at': '2022-08-05T15:01:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/47979',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/47979',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/47979.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/47979.patch',
   'merged_at': None},
  'body': '- [x] closes #47978',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47979/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47978',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47978/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47978/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47978/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/47978',
  'id': 1329837714,
  'node_id': 'I_kwDOAA0YD85PQ7aS',
  'number': 47978,
  'title': 'BUILD: Bump Cython again to (at least) 0.29.31',
  'user': {'login': 'simonjayhawkins',
   'id': 13159005,
   'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/simonjayhawkins',
   'html_url': 'https://github.com/simonjayhawkins',
   'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
   'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
   'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
   'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
   'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
   'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 129350,
    'node_id': 'MDU6TGFiZWwxMjkzNTA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build',
    'name': 'Build',
    'color': '75507B',
    'default': False,
    'description': 'Library building on various platforms'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/96',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/96',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/96/labels',
   'id': 8104401,
   'node_id': 'MI_kwDOAA0YD84Ae6nR',
   'number': 96,
   'title': '1.4.4',
   'description': 'on-merge: backport to 1.4.x',
   'creator': {'login': 'simonjayhawkins',
    'id': 13159005,
    'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/simonjayhawkins',
    'html_url': 'https://github.com/simonjayhawkins',
    'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
    'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
    'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',

In [9]:
js[0]['user']

{'login': 'CarlosHartmann',
 'id': 65766894,
 'node_id': 'MDQ6VXNlcjY1NzY2ODk0',
 'avatar_url': 'https://avatars.githubusercontent.com/u/65766894?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/CarlosHartmann',
 'html_url': 'https://github.com/CarlosHartmann',
 'followers_url': 'https://api.github.com/users/CarlosHartmann/followers',
 'following_url': 'https://api.github.com/users/CarlosHartmann/following{/other_user}',
 'gists_url': 'https://api.github.com/users/CarlosHartmann/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/CarlosHartmann/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/CarlosHartmann/subscriptions',
 'organizations_url': 'https://api.github.com/users/CarlosHartmann/orgs',
 'repos_url': 'https://api.github.com/users/CarlosHartmann/repos',
 'events_url': 'https://api.github.com/users/CarlosHartmann/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/CarlosHartmann/received_events',
 'type': 'User',
 'site_admin': False}

In [10]:
df = pd.DataFrame(js)

In [11]:
df.to_csv('json_dump.csv')

In [12]:
users_list = []

In [13]:
for i in range(len(js)):
    users_list.append(js[i]['user'])

In [14]:
users_df = pd.DataFrame(users_list)

In [15]:
users_df['login']

0      CarlosHartmann
1              devmcp
2        BarkotBeyene
3               phofl
4     simonjayhawkins
5        jbrockmendel
6              DRudel
7          rhshadrach
8               phofl
9               phofl
10           attack68
11       MarcoGorelli
12            bollard
13       MarcoGorelli
14       MarcoGorelli
15     datapythonista
16           Th3nn3ss
17       JeffersonQin
18            Mehgarg
19            jreback
20            colomb8
21              phofl
22       MarcoGorelli
23          tpackard1
24       SomtochiUmeh
25            nsarang
26      galipremsagar
27         henrykwong
28             btodac
29           shourya5
Name: login, dtype: object

In [16]:
file = pd.read_csv('json_dump.csv')

In [17]:
pickle_file = file.to_pickle('picke_file')

In [19]:
h5_data = pd.HDFStore('test.h5')

HDF5ExtError: HDF5 error back trace

  File "H5F.c", line 620, in H5Fopen
    unable to open file
  File "H5VLcallback.c", line 3501, in H5VL_file_open
    failed to iterate over available VOL connector plugins
  File "H5PLpath.c", line 578, in H5PL__path_table_iterate
    can't iterate over plugins in plugin path '(null)'
  File "H5PLpath.c", line 620, in H5PL__path_table_iterate_process_path
    can't open directory: /home/harshal/anaconda3/lib/hdf5/plugin
  File "H5VLcallback.c", line 3351, in H5VL__file_open
    open failed
  File "H5VLnative_file.c", line 97, in H5VL__native_file_open
    unable to open file
  File "H5Fint.c", line 1990, in H5F_open
    unable to read superblock
  File "H5Fsuper.c", line 614, in H5F__super_read
    truncated file: eof = 96, sblock->base_addr = 0, stored_eof = 2048

End of HDF5 error back trace

Unable to open/create file 'test.h5'

In [ ]:
h5_data.put('obj1', file, format='table')

In [20]:
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [21]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
titanic_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [23]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [24]:
(titanic_df[titanic_df.dtypes[titanic_df.dtypes == 'float64'].index]).describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [25]:
titanic_df.index

RangeIndex(start=0, stop=891, step=1)

In [26]:
titanic_df['Name'][8:20]

8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
15                     Hewlett, Mrs. (Mary D Kingcome)
16                                 Rice, Master. Eugene
17                         Williams, Mr. Charles Eugene
18    Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                              Masselmani, Mrs. Fatima
Name: Name, dtype: object

In [27]:
sorted([titanic_df[['Name','Ticket']][5:120]])

[                                                  Name             Ticket
 5                                     Moran, Mr. James             330877
 6                              McCarthy, Mr. Timothy J              17463
 7                       Palsson, Master. Gosta Leonard             349909
 8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)             347742
 9                  Nasser, Mrs. Nicholas (Adele Achem)             237736
 ..                                                 ...                ...
 115                              Pekoniemi, Mr. Edvard  STON/O 2. 3101294
 116                               Connors, Mr. Patrick             370369
 117                    Turpin, Mr. William John Robert              11668
 118                           Baxter, Mr. Quigg Edmond           PC 17558
 119                  Andersson, Miss. Ellis Anna Maria             347082

 [115 rows x 2 columns]]

In [28]:
titanic_df['new_col'] = 'new'

In [29]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,new
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,new
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,new
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,new
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,new
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,new
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,new
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,new
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,new
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,new

In [30]:
titanic_df['new_col'] = titanic_df['PassengerId']
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [31]:
titanic_df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [32]:
pd.Categorical(titanic_df['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [33]:
pd.Categorical(titanic_df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [34]:
(titanic_df['Cabin'].unique())

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [35]:
titanic_df[['Cabin', 'Name']][titanic_df['Cabin'] == 'C123']

    Cabin                                          Name
3    C123  Futrelle, Mrs. Jacques Heath (Lily May Peel)
137  C123                   Futrelle, Mr. Jacques Heath

In [36]:
## get all records where survived value is NaN

survived_null = titanic_df[['Survived']][titanic_df['Cabin'].isnull() == True]

survived_null.index

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,
            ...
            878, 880, 881, 882, 883, 884, 885, 886, 888, 890],
           dtype='int64', length=687)

In [37]:
titanic_df.iloc[survived_null.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,885
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,886
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [38]:
## get person name paid the highest fare

titanic_df[['Name', 'Fare']][titanic_df['Fare'] == max(titanic_df['Fare']) ]

                                   Name      Fare
258                    Ward, Miss. Anna  512.3292
679  Cardeza, Mr. Thomas Drake Martinez  512.3292
737              Lesurer, Mr. Gustave J  512.3292

In [39]:
titanic_df['DollarFare'] =  '$' + str(titanic_df['Fare'][titanic_df['Fare']])

KeyError: '[7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51.8625, 21.075, 11.1333, 30.0708, 16.7, 26.55, 31.275, 7.8542, 29.125, 7.225, 8.0292, 35.5, 31.3875, 7.8792, 7.8958, 27.7208, 146.5208, 7.75, 10.5, 82.1708, 7.2292, 11.2417, 9.475, 41.5792, 15.5, 21.6792, 17.8, 39.6875, 7.8, 76.7292, 61.9792, 27.75, 46.9, 83.475, 27.9, 15.2458, 8.1583, 8.6625, 73.5, 14.4542, 56.4958, 7.65, 12.475, 9.5, 7.7875, 47.1, 15.85, 34.375, 61.175, 20.575, 34.6542, 63.3583, 77.2875, 8.6542, 7.775, 24.15, 9.825, 14.4583, 247.5208, 7.1417, 22.3583, 6.975, 7.05, 14.5, 15.0458, 26.2833, 9.2167, 79.2, 6.75, 11.5, 36.75, 7.7958, 12.525, 66.6, 7.3125, 61.3792, 7.7333, 69.55, 16.1, 15.75, 20.525, 25.925, 33.5, 30.6958, 25.4667, 28.7125, 15.05, 22.025, 8.4042, 6.4958, 10.4625, 18.7875, 113.275, 76.2917, 9.35, 13.5, 7.55, 26.25, 12.275, 7.125, 52.5542, 20.2125, 86.5, 512.3292, 79.65, 153.4625, 135.6333, 19.5, 29.7, 77.9583, 20.25, 78.85, 91.0792, 12.875, 8.85, 151.55, 30.5, 23.25, 12.35, 110.8833, 108.9, 56.9292, 83.1583, 262.375, 164.8667, 134.5, 6.2375, 57.9792, 28.5, 133.65, 15.9, 9.225, 75.25, 69.3, 55.4417, 211.5, 4.0125, 227.525, 15.7417, 7.7292, 12.65, 18.75, 6.8583, 32.5, 7.875, 14.4, 55.9, 8.1125, 81.8583, 19.2583, 19.9667, 89.1042, 38.5, 7.725, 13.7917, 9.8375, 7.0458, 7.5208, 12.2875, 9.5875, 49.5042, 78.2667, 15.1, 7.6292, 22.525, 26.2875, 59.4, 7.4958, 34.0208, 93.5, 221.7792, 106.425, 49.5, 13.8625, 7.8292, 39.6, 17.4, 51.4792, 26.3875, 40.125, 8.7125, 42.4, 15.55, 32.3208, 7.0542, 8.4333, 25.5875, 9.8417, 8.1375, 10.1708, 211.3375, 13.4167, 7.7417, 9.4833, 7.7375, 8.3625, 23.45, 25.9292, 8.6833, 8.5167, 7.8875, 37.0042, 6.45, 6.95, 8.3, 6.4375, 39.4, 14.1083, 13.8583, 50.4958, 9.8458, 10.5167] not in index'

In [ ]:
titanic_df.astype({'Fare':object})

In [ ]:
titanic_df['new_col'] = '$' +  titanic_df['Fare'].astype(str)

In [ ]:
titanic_df

In [ ]:
titanic_df['new_col'] =  titanic_df['new_col'].str.replace('$', "").astype(float)

In [ ]:
titanic_df.dtypes

In [ ]:
import numpy as np

In [40]:
df = pd.DataFrame(np.random.randint(0, 255, (4,5)), index=['a','b','c','d'], columns=['x','y','z','u','v'])

In [41]:
df

     x    y    z    u    v
a   99  133  127  233  228
b  212  105   20  116  233
c  119  123  252  181  213
d   33   30  197  227  123

In [42]:
df.loc[['c','d']][['z','u']]

     z    u
c  252  181
d  197  227

In [43]:
## OR
df.loc[['c','d'],['z','u']]

     z    u
c  252  181
d  197  227

In [44]:
df

     x    y    z    u    v
a   99  133  127  233  228
b  212  105   20  116  233
c  119  123  252  181  213
d   33   30  197  227  123

In [45]:
df.drop('a')

     x    y    z    u    v
b  212  105   20  116  233
c  119  123  252  181  213
d   33   30  197  227  123

In [46]:
df.drop('x', axis=1, inplace=True) #setting inplace=True permanently drops the column

In [47]:
df

     y    z    u    v
a  133  127  233  228
b  105   20  116  233
c  123  252  181  213
d   30  197  227  123

In [48]:
df

     y    z    u    v
a  133  127  233  228
b  105   20  116  233
c  123  252  181  213
d   30  197  227  123

In [49]:
np.random.seed(23)

In [50]:
df = pd.DataFrame(np.random.randn(4,5), index=['a','b','c','d'], columns=['x','y','z','u','v'])

In [51]:
df

          x         y         z         u         v
a  0.666988  0.025813 -0.777619  0.948634  0.701672
b -1.051082 -0.367548 -1.137460 -1.322148  1.772258
c -0.347459  0.670140  0.322272  0.060343 -1.043450
d -1.009942  0.441736  1.128877 -1.838068 -0.938769

In [52]:
## task : extract all negative values from the dataframe into a list

In [53]:
ans = []
for i in df:
    for j in df[i]:
        if j < 0:
            ans.append((j, i, df[i][df[i]<0]))
            
for i in ans:
    print(i)

(-1.0510815639071178, 'x', b   -1.051082
c   -0.347459
d   -1.009942
Name: x, dtype: float64)
(-0.34745899102186334, 'x', b   -1.051082
c   -0.347459
d   -1.009942
Name: x, dtype: float64)
(-1.0099418765878465, 'x', b   -1.051082
c   -0.347459
d   -1.009942
Name: x, dtype: float64)
(-0.3675481161171661, 'y', b   -0.367548
Name: y, dtype: float64)
(-0.7776194131918178, 'z', a   -0.777619
b   -1.137460
Name: z, dtype: float64)
(-1.1374596907250272, 'z', a   -0.777619
b   -1.137460
Name: z, dtype: float64)
(-1.3221475225908594, 'u', b   -1.322148
d   -1.838068
Name: u, dtype: float64)
(-1.8380677677579502, 'u', b   -1.322148
d   -1.838068
Name: u, dtype: float64)
(-1.0434500017467254, 'v', c   -1.043450
d   -0.938769
Name: v, dtype: float64)
(-0.9387686311201282, 'v', c   -1.043450
d   -0.938769
Name: v, dtype: float64)

In [54]:
##aliter
ans = df.values[df.values < 0]
ans

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [55]:
for i in df.columns:
    for j in df.index:
        if df.loc[j,i] in ans:
            
            print(j,i, df[i][j])

b x -1.0510815639071178
c x -0.34745899102186334
d x -1.0099418765878465
b y -0.3675481161171661
a z -0.7776194131918178
b z -1.1374596907250272
b u -1.3221475225908594
d u -1.8380677677579502
c v -1.0434500017467254
d v -0.9387686311201282

In [56]:
for i in df.columns:
    for j in df.index:
        if df[i][j] < 0:
            print(i, j, df[i][j])

x b -1.0510815639071178
x c -0.34745899102186334
x d -1.0099418765878465
y b -0.3675481161171661
z a -0.7776194131918178
z b -1.1374596907250272
u b -1.3221475225908594
u d -1.8380677677579502
v c -1.0434500017467254
v d -0.9387686311201282

In [57]:
df.loc['a','x']

0.6669880563534684

In [69]:
d1 = {
    'key1': [1,2,3,4,np.nan],
    'key2': ['sudh', 'kumar', 4,5,6],
    'key3': [np.nan,np.nan,np.nan,3,8]
}

In [70]:
df = pd.DataFrame(d1)

In [71]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0      4   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [72]:
df.dropna()

   key1 key2  key3
3   4.0    5   3.0

In [73]:
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0      4   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [74]:
df.fillna(value=df['key1'].mean())

   key1   key2  key3
0   1.0   sudh   2.5
1   2.0  kumar   2.5
2   3.0      4   2.5
3   4.0      5   3.0
4   2.5      6   8.0

In [75]:
df
df

   key1   key2  key3
0   1.0   sudh   NaN
1   2.0  kumar   NaN
2   3.0      4   NaN
3   4.0      5   3.0
4   NaN      6   8.0

In [76]:
df['key3'].fillna(value = df['key3'].mean(), inplace=True)

In [68]:
df

   key1   key2  key3
0   1.0   sudh   5.5
1   2.0  kumar   5.5
2   3.0      4   5.5
3   4.0      5   3.0
4   NaN      6   8.0

In [81]:
d2 = {
    'name':['harshal', 'abhishek', 'riyan', 'parag'],
    'mail_id':['harshal@gmail.com', 'abhi@yahoo.com', 'parag@gmail.com', 'parag@gmail.com'],
    'salary':[500,100, 1000, 200]
}

In [82]:
df1 = pd.DataFrame(d2)

In [83]:
df1

       name            mail_id  salary
0   harshal  harshal@gmail.com     500
1  abhishek     abhi@yahoo.com     100
2     riyan    parag@gmail.com    1000
3     parag    parag@gmail.com     200

In [86]:
df1.groupby('mail_id').describe()

                  salary                                                 \
                   count   mean         std    min    25%    50%    75%
mail_id
abhi@yahoo.com       1.0  100.0         NaN  100.0  100.0  100.0  100.0
harshal@gmail.com    1.0  500.0         NaN  500.0  500.0  500.0  500.0
parag@gmail.com      2.0  600.0  565.685425  200.0  400.0  600.0  800.0


                      max
mail_id
abhi@yahoo.com      100.0
harshal@gmail.com   500.0
parag@gmail.com    1000.0

In [88]:
df1.groupby('mail_id').describe().loc['harshal@gmail.com']

salary  count      1.0
        mean     500.0
        std        NaN
        min      500.0
        25%      500.0
        50%      500.0
        75%      500.0
        max      500.0
Name: harshal@gmail.com, dtype: float64

In [92]:
df1.groupby('mail_id').describe().loc['harshal@gmail.com']['salary']

500.0

In [93]:
df1.groupby('mail_id').describe().loc['harshal@gmail.com']['salary']['mean']

500.0

In [97]:
df1.groupby('mail_id').describe().transpose()

mail_id       abhi@yahoo.com  harshal@gmail.com  parag@gmail.com
salary count             1.0                1.0         2.000000
       mean            100.0              500.0       600.000000
       std               NaN                NaN       565.685425
       min             100.0              500.0       200.000000
       25%             100.0              500.0       400.000000
       50%             100.0              500.0       600.000000
       75%             100.0              500.0       800.000000
       max             100.0              500.0      1000.000000

In [98]:
df1.groupby('mail_id').describe().T

mail_id       abhi@yahoo.com  harshal@gmail.com  parag@gmail.com
salary count             1.0                1.0         2.000000
       mean            100.0              500.0       600.000000
       std               NaN                NaN       565.685425
       min             100.0              500.0       200.000000
       25%             100.0              500.0       400.000000
       50%             100.0              500.0       600.000000
       75%             100.0              500.0       800.000000
       max             100.0              500.0      1000.000000

In [99]:
df1

       name            mail_id  salary
0   harshal  harshal@gmail.com     500
1  abhishek     abhi@yahoo.com     100
2     riyan    parag@gmail.com    1000
3     parag    parag@gmail.com     200