In [1]:
import pandas as pd

In [2]:
import mysql.connector as connection

In [3]:
import csv

In [34]:
mydb = connection.connect(host="localhost", user="root", passwd="Admin@123", use_pure= True)

In [35]:
mydb.is_connected()

True

In [36]:
cursor = mydb.cursor()

In [39]:
cursor.execute("show tables")
cursor.fetchall()

[('employee',), ('employee2',), ('yourhour',)]

In [40]:
query = "SELECT date, SUM(usage_seconds)/60 usage_mins, (SUM(usage_seconds)/60)/60 usage_hrs FROM yourhour GROUP BY date ORDER BY date ;"

In [41]:
df = pd.read_sql(query, mydb)

/home/harshal/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [42]:
df

          date  usage_mins  usage_hrs
0   2022-07-02    252.5333   4.208889
1   2022-07-03    277.8667   4.631111
2   2022-07-04    666.0833  11.101389
3   2022-07-05    763.4500  12.724167
4   2022-07-06    685.9167  11.431944
5   2022-07-07    421.4500   7.024167
6   2022-07-08    605.7500  10.095833
7   2022-07-09    464.8167   7.746944
8   2022-07-10    344.2833   5.738056
9   2022-07-11    617.9333  10.298889
10  2022-07-12    491.6167   8.193611
11  2022-07-13    401.5500   6.692500
12  2022-07-14    542.7167   9.045278
13  2022-07-15   1129.9500  18.832500
14  2022-07-16    554.2833   9.238056
15  2022-07-17    494.9167   8.248611
16  2022-07-18    660.6833  11.011389
17  2022-07-19    350.0333   5.833889
18  2022-07-20    245.0833   4.084722
19  2022-07-21    689.8667  11.497778
20  2022-07-22    168.0000   2.800000
21  2022-07-23    170.9000   2.848333
22  2022-07-24    280.7000   4.678333
23  2022-07-25    307.9333   5.132222
24  2022-07-26    219.8333   3.663889
25  2022-07-27    262.6667   4.377778
26  2022-07-28    525.9833   8.766389
27  2022-07-29    483.7000   8.061667

In [44]:
type(df)

pandas.core.frame.DataFrame